
.layout{
    -fx-background-color: linear-gradient(to bottom right, #ae39fc, #481de5);
}


.buttonLogin {
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to bottom right, #8fade5, #a507e3);

    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-cursor: hand;
    -fx-font-family: "Eina01", sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: 800;
    -fx-padding: 19px 26px;
    -fx-min-height: 64px;
    -fx-outline: none;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-user-select: none;
    -fx-touch-action: manipulation;
    -fx-vertical-align: middle;
    -fx-word-break: keep-all;
    -fx-background-radius: 80px;
}

.buttonLogin:hover {
    -fx-background-color: linear-gradient(to bottom right, #a507e3, #8fade5);
}