.button {
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to bottom right, #8fade5, #bf4af6);
    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-color: #d3e773;
    -fx-cursor: hand;
    -fx-font-size: 10px;
    -fx-padding: 5px 5px;
    -fx-min-height: 20px;
    -fx-outline: none;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-user-select: none;
    -fx-touch-action: manipulation;
    -fx-vertical-align: middle;
    -fx-word-break: keep-all;
    -fx-background-radius: 80px;
    -fx-font-family: 'Comic Sans MS', cursive;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom right, #bf4af6, #8fade5);
}

.menu {
    -fx-background-color: linear-gradient(to bottom right, #b85efc, #4a8de8);
}

.table-view{
    -fx-background-color: linear-gradient(to bottom right, rgba(223, 250, 64, 0), rgba(252, 146, 60, 0));
    -fx-background-radius: 80px;
}

.table-column{
    -fx-background-color: rgba(72, 120, 241, 0.64);
}

.text{
    -fx-font-family: 'MV Boli', cursive;
}

.card-from{
    -fx-background-color: linear-gradient(to bottom right, rgba(223, 250, 64, 0), rgba(252, 146, 60, 0));
    -fx-border-color: #454368 ;
    -fx-border-radius:10px ;
    -fx-background-radius: 10px;
}
